* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
    border: 5px solid red;
    display: flex;
    align-items: center;

}
h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.center_bitte{
    display: flex;
    justify-content: center;
}
#input_data{
    margin: 25px;

}