* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --vyska-menu: 60px;
    --velikost-pisma-menu: 18px;
    --bila: #eef4fc;
    --modra: #395DFC;
    --cervena: #e12928;
    --ruzova: #FCA2D5;
    --seda: rgba(235, 235, 235, 0.64);
    --bila-soft: #f8f8f8;
    --popredi: #D0C4DF;
    --pozadi: #342539;
    --graf-border: #6C3E81;
    --func-input-bg: #9b3e95;
    --btn-hover: #d92dce;
}
body{
    background: var(--pozadi);
    color: var(--seda)
}
.nadpis {
    font-size: 45px;
    text-align: center;
    color: var(--bila-soft)
}
