* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --vyska-menu: 60px;
    --velikost-pisma-menu: 1.5em;
    --bila: #eef4fc;
    --modra: #395DFC;
    --cervena: #e12928;
    --ruzova: #FCA2D5;
    --seda: rgba(235, 235, 235, 0.64);
    --bila-soft: #f8f8f8;
    --popredi: #D0C4DF;
    --pozadi: #342539;
    --graf-border: #6C3E81;
    --func-input-bg: #7d3278;
    --login-form-bg: #552152;
    --btn-hover: #891f82;
}
body{
    background: var(--pozadi);
    color: var(--seda)
}
.nadpis {
    margin: 10px;
    font-size: 40px;
    text-align: center;
    color: var(--bila-soft)
}
.pod-nadpis {
    margin: 10px;
    font-size: 36px;
    text-align: center;
    color: var(--bila-soft)
}

h1 {
    font-size: 32px;
}
.text_input {
    color: white;
    width: 100%;
    height: 2.5em;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--func-input-bg);
    outline: none;
}
.btn {
    color: white;
    width: 5em;
    font-size: 15px;
    padding: 5px;
    height: 2.5em;
    border-radius: 5px;
    background-color: var(--func-input-bg);
    border-style: solid;
    border: none;
    cursor: pointer;
    outline: none;
    align-self: center;
}
.btn:hover {
    background-color: var(--btn-hover);
}
.label {
    font-size: 1.3em;
    align-self: left;
}
.herka {
    width: 75%;
    align-self: center;
}

.error_kontejner {
    display: flex;
    background-color: var(--login-form-bg);
    flex-direction: column;
    font-size: 1.5em;
    color: white;
    align-self: flex-end;
    padding: 1em;
    border: 1px solid red;
    margin-right: 2em;
    border-radius: 10px;
}

.login_form {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    gap: 1.2em;
    width: 75%;
    height: 70vh;
    background-color: var(--login-form-bg);
    margin-top: 1.7em;
    padding: 2em;
    border-radius: 20px;
}

.op {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    padding: 7px;
}

.wrong_input{
    border: red solid 2px;
    color: white;
    width: 100%;
    height: 2.5em;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
    background-color: var(--func-input-bg);
    outline: none;
}

.kontejner {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    height: 85vh;
    width: 100%;
    padding: 20px;
}

.ucet-kontejner {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    height: 60vh;
    width: 65%;
}